*.log
node_modules/
admin_page/src/css/
admin_page/src/fonts/
admin_page/src/js/

product_page/src/css/
product_page/src/fonts/
product_page/src/js/

social_page/src/css/
social_page/src/fonts/
social_page/src/js/

company_website/src/css/
company_website/src/fonts/
company_website/
