$primary-color: #432C51;
$primary-overlay-color:rgba(83, 84, 116, 0.8);
$medium-gray-color:#535474;
// #535474, #54A4AF,#ECBC55 (gray, turquoise, yellow)
body{
  margin-top: 105px;
}


.navbar{
  box-shadow:2px 2px 5px $primary-color;
  opacity: 0.9;
  background: #fff;

  .nav-item{
    font-size: 1.4rem;
    padding-right: 20px;
  }
}

#showcase{
  position:relative;
  background:url('../img/mountains.jpg') no-repeat;
  background-size:cover;
  background-position: center center;
  min-height:500px;

  .primary-overlay{
    background:$primary-overlay-color;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.bg-primary{
  color:$medium-gray-color;
}

.text-muted-2{
  color:#E2DCD5;
}

.info-header{
  width:50%;
  margin:auto;
  border-bottom:1px $medium-gray-color solid;
}
